.App {
  background: #1e2a2f;
  color: white;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 80px 1fr;
  height: 100vh;
  box-sizing: border-box;
}

.title-search {
  display: flex;
  background: black;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1;
  padding: 0 20px;
  justify-content: space-between;
}

.title-search input {
  width: 400px;
  height: 40px;
  font-size: 18px;
  padding: 8px 10px;
}

.title-search .player-type-form {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  height: 50px;
  min-width: 320px;
}

.title-search .player-type-form .player-type input[type='radio'] {
  display: none;
}

.title-search .player-type-form .player-type input[type='radio'] + label {
  display: flex;
  align-items: center;
  min-width: 150px;
  height: 100%;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(30, 42, 47, 1) 70%,
    rgba(30, 42, 47, 1) 100%
  );
  cursor: pointer;
  padding: 4px 10px;
}

.title-search
  .player-type-form
  .player-type
  input[type='radio']:checked
  + label {
  background: #1e2a2f;
}

.title-logo {
  display: flex;
  background: black;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
}

.title-logo img {
  max-width: 100%;
  max-height: 100%;
}

.selected-team-table {
  grid-column: 2 / 3;
  grid-row: 2;
  overflow: auto;
}

.filter-list {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 2;
  padding: 20px 20px 0;
  background: #1e2a2f;
  overflow: auto;
  font-size: 14px;
}

.filter-list .all-items {
  cursor: pointer;
  padding: 4px 10px;
  margin-bottom: 2px;
}

.filter-checkbox-container + .filter-checkbox-container {
  margin-top: 2px;
}

.filter-list input[type='checkbox'] {
  display: none;
}

.filter-list label {
  display: block;
  padding: 4px 10px;
  background: #272727;
  cursor: pointer;
  transition: 0.05s linear background;
}

.filter-list label:hover {
  background: #505050;
}

.filter-list input[type='checkbox']:checked + label {
  background: #163356;
  box-shadow: inset 0 0 0px 1px white;
}

.filter-items {
  background: black;
  padding: 2px 4px;
}

.filter-items .title {
  font-size: 18px;
  text-align: center;
}

.filter-items .all-none-filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.filter-items .all-none-filters .toggle-all-items {
  text-decoration: underline;
  cursor: pointer;
}

.selected-team-table {
  background: #1e2a2f;
  padding: 20px 20px 0 0;
}

.selected-team-table table {
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
  background: black;
  color: white;
  border-collapse: collapse;
}

.no-players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #272727;
  box-shadow: inset 0 0 0px 2px black;
  width: 100%;
  height: 200px;
}

.no-players p {
  margin: 0 0 10px;
}

:root {
  --cell-padding-tb: 7px;
  --cell-padding-lr: 5px;
}

.selected-team-table .header-col {
  text-align: center;
  cursor: pointer;
  position: sticky;
  background: black;
  top: 0;
  padding: var(--cell-padding-tb) var(--cell-padding-lr);
  z-index: 1;
}

.selected-team-table .header-team,
.selected-team-table .header-name,
.selected-team-table .header-position {
  text-align: left;
}

.selected-team-table tr:nth-child(even) .player-col {
  background: #272727;
}

.selected-team-table .player-col {
  position: relative;
  height: 40px;
  text-align: left;
  min-width: 80px;
  box-sizing: border-box;
  font-weight: 500;
  padding: var(--cell-padding-tb) var(--cell-padding-lr);
}

.selected-team-table .header-team,
.selected-team-table .player-col.player-team {
  min-width: 100px;
}

.selected-team-table .header-name,
.selected-team-table .player-col.player-name {
  min-width: 160px;
}

.selected-team-table .header-age,
.selected-team-table .player-col.player-age,
.selected-team-table .header-position,
.selected-team-table .player-col.player-position {
  min-width: 20px;
}

.selected-team-table .player-col.player-trait,
.selected-team-table .player-col.player-trait2 {
  text-align: center;
}

.selected-team-table .player-col.player-speed .rating-color {
  background: #1e5290;
}
.selected-team-table .player-col.player-arm .rating-color {
  background: #1e3059;
}
.selected-team-table .player-col.player-contact .rating-color {
  background: #20536e;
}
.selected-team-table .player-col.player-fielding .rating-color {
  background: #1a2464;
}
.selected-team-table .player-col.player-power .rating-color {
  background: #5a7b89;
}
.selected-team-table .player-col.player-accuracy .rating-color {
  background: #773857;
}
.selected-team-table .player-col.player-velocity .rating-color {
  background: #713e86;
}
.selected-team-table .player-col.player-junk .rating-color {
  background: #803f7d;
}

.rating-value {
  position: relative;
  display: block;
  color: white;
}

.rating-color + .rating-value {
  text-align: center;
}

.rating-color {
  position: absolute;
  left: var(--cell-padding-lr);
  top: var(--cell-padding-tb);
  height: calc(100% - (2 * var(--cell-padding-tb)));
  width: calc(100% - (2 * var(--cell-padding-lr)));
  background: #5a7b89;
}

.rating-color:after {
  content: '';
  position: absolute;
  right: 0;
  width: 4px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}
