body,
h1 {
  margin: 0;
}

.App {
  display: grid;
  padding: 20px 20px 0;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr;
  height: 100vh;
  box-sizing: border-box;
}

.selected-team-name {
  grid-column: 2 / 3;
  grid-row: 1;
}

.selected-team-table {
  grid-column: 2 / 3;
  grid-row: 2;
  overflow: auto;
}

.filter-list {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 2;
  overflow: auto;
  padding-right: 15px;
  font-size: 14px;
}

.filter-list .all-items {
  cursor: pointer;
  padding: 4px 10px;
  margin-bottom: 2px;
}

.filter-checkbox-container + .filter-checkbox-container {
  margin-top: 2px;
}

.filter-list input[type="checkbox"] {
  display: none;
}

.filter-list label {
  display: block;
  padding: 4px 10px;
  background: lightgray;
}

.filter-list input[type="checkbox"]:checked + label {
  background: yellow;
}

.selected-team-table td {
  position: relative;
}

.selected-team-table th {
  cursor: pointer;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.selected-team-table th,
.selected-team-table td {
  text-align: left;
  min-width: 100px;
  box-sizing: border-box;
  padding: 4px 10px;
}

.selected-team-table td.player-team {
  width: 140px;
}

.selected-team-table td.player-name {
  width: 200px;
}

.selected-team-table td.player-position {
  width: 120px;
}

.rating-value {
  color: black;
  position: relative;
}

.rating-color {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: lightblue;
}
